@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600;700&display=swap");
* {
  margin: 0;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: #f0ffff;
  color: #191970;
}

header {
  position: sticky;
  top: 0;
  padding: 2rem 0;
  background-color: #fdfffc;
  font-weight: 500;
  z-index: 1;
}

.navigation {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.navigation__link {
  display: flex;
  position: absolute;
  right: 1em;
}
.navigation__link > div {
  margin-left: 1em;
}

.navigation__link > div a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: rgb(0, 0, 0);
  /* here to change the underline color */
  height: 1px;
}
.navigation__link > div a:hover::after {
  width: 100%;
}

.navigation__link > div a {
  position: relative;
  margin-right: 0.6em;
  transition: all 1s;
  text-decoration: none;
  font-weight: 400;
  color: #000;
  font-size: clamp(0.7em, 2.7vw, 1em);
}

.navigation__link > div a::after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
.navigation__link > div a:hover {
  color: #fff;
  z-index: 1;
}
.navigation__link > div a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}
.navigation__link > div a:hover {
  color: #000080;
  /* here to change the hovered font color */
}

.navigation__link > div a:after,
.navigation__link > div a:before {
  transition: all 0.5s;
}

.navigation__logo {
  display: inline-block;
  position: absolute;
  left: 4%;
}

.navigation__logoImg {
  width: clamp(70px, 12vw, 100px);
}

.banner {
  color: #f0ffff;
  margin-top: 4rem;
  padding: 5.5rem 4rem;
  background-color: #3a0ca3;
  box-shadow: 3rem 3rem #00ff7f !important;
  transform: translate(4px, -4px) !important;
  transition: box-shadow ease-in-out 0.3s !important;
}

.banner:hover {
  /* transform: translate(10px, 10px) !important; */
  box-shadow: none !important;
}

.banner__slogan {
  padding: 3rem 0;
}

h2 {
  font-size: clamp(1.8em, 9.5vw, 5em);
  text-transform: capitalize;
  margin-bottom: 1em;
}

.banner > div {
  margin-bottom: 1.5em;
}

.banner__introduction > h3 {
  font-weight: 300;
  font-size: clamp(1em, 2vw, 1.5em);
  line-height: 2em;
}

.banner__name {
  font-size: clamp(0.8em, 2vw, 1.2em);
  text-transform: capitalize;
  word-spacing: 0.5em;
}

main {
  max-width: 72rem;
  margin: 0 auto;
  padding: 0 3rem;
}

/* animation */
.animation {
  display: inline;
  position: relative;
  padding: 0.2em 0;
}

/* Fade in */
.animation::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* width: 100%; */
  height: clamp(3px, 1vw, 13px);
  background-color: #00ff7f;
  /* opacity: 0; */
  transition: opacity 0.5s, transform 0.5s ease-in-out;
}

/* Slide in */

.animation {
  overflow: hidden;
}

.animation::before {
  /* opacity: 1; */
  transform: scaleX(0);
  transform-origin: left;
}
.animation:hover::before,
.animation:focus::before {
  /* opacity: 1; */
  transform: scaleX(1);
}

/* animation end */

/* projects style */
.projects__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3em;
  padding-top: 7em;
}

.projects__2 {
  border: #3a0ca3 2px solid !important;
  background-color: #00ff7f;
  box-shadow: 0.9em 0.9em #000080 !important;
  transform: translate(4px, -4px) !important;
}

.projects {
  border: #3a0ca3 2px solid;
  border-radius: 0.5em;
  padding: 4em 3em;
  flex: 1 1 20em;
  display: flex;
  box-shadow: none;
  transition: all ease-in-out 0.3s;
}

.projects:hover {
  background-color: #00ff7f;
  border-radius: 5px;
  transform: translate(4px, -4px);
  box-shadow: 0.9em 0.9em #000080;
  border: black 2px solid;
  border-radius: 0.4em;
  transition: ease-in-out 0.3s;
}

.projects small {
  font-size: 12px;
  text-decoration: underline;
}
.projects small::before {
  content: " ";
  display: block;
  padding-top: 30px;
}

.projects__2:hover,
.projects__2:focus {
  background-color: #f0ffff !important;
  transform: translate(0, 0) !important;
  border: #3a0ca3 2px solid;
  box-shadow: none !important;
}

.projects a {
  text-decoration: none;
}

.projects__h2,
.skills__h2,
.contact__h2 {
  text-transform: uppercase;
}
.projects h3 {
  font-size: 1.5em;
  padding-bottom: 0.8em;
  padding-top: 0;
  position: relative;
  top: -3.5rem;
}

.projects__h2 {
  margin-bottom: 2em;
}

.projects:hover .projects__textSpan {
  visibility: visible;
  opacity: 1;
}

.projects > div {
  max-width: 300px;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 17px;
  margin-top: 10px;
}

.projects__textSpan {
  font-size: clamp(0.9em, 2vw, 1.1em);
}
/* skills style */
svg {
  font-size: clamp(0.7em, 10vw, 4.7em);
}
.skills__iconContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 7em 0;
}

.skills__iconContainer > div {
  text-align: center;
  margin-top: 3em;
  max-width: 10em;
}

.skills__iconContainer > div div {
  font-size: clamp(0.6em, 2vw, 1em);
}

.scrollWrapper {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  font-size: 1.3em;
  font-weight: 800;
  word-spacing: 5px;
  letter-spacing: 2px;
  margin: 3em auto;
}

.scrollText span:hover {
  -webkit-text-stroke: 3px #191970;
  color: transparent;
}

.scrollText {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: scroll 90s linear infinite;
  text-transform: uppercase;
}

.scrollText span {
  color: #191970;
  font-size: clamp(1em, 5vw, 6em);
}

@keyframes scroll {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

/* contact style */
.contact {
  display: flex;
  align-items: center;
}
.contact div a svg {
  font-size: clamp(22px, 3vw, 35px);
  color: #000080;
  margin-left: 20px;
}

.contact__h2 {
  display: flex;
  margin: auto 0;
  position: relative;
  /* top: 22%; */
  font-size: clamp(14px, 3vw, 22px);
  font-weight: 600;
}

.contact__container {
  display: flex;
  margin: 0 auto;
  align-self: center;
  justify-content: flex-end;
  font-size: 0.5em;
  max-width: 1200px;
  align-items: center;
  padding: 20px 0;
}

.projects-section,
.skills-section {
  padding: 10em 0;
}

.skills-section {
  padding-top: 0;
}

footer {
  padding: 5px 0;
  background-color: #00ff7f;
}

@media (max-width: 1270px) {
  .projects {
    padding: 4em 1em;
  }
  .banner {
    color: #f0ffff;
    margin-top: 4rem;
    padding: 4rem 2rem;
    background-color: #3a0ca3;
    box-shadow: 1.1rem 1.1rem #00ff7f !important;
    transform: translate(2px, -2px) !important;
    transition: box-shadow ease-in-out 0.3s !important;
  }
  .projects__container {
    padding-top: 1em;
  }

  .projects-section {
    padding-top: 7em;
  }

  .contact__container {
    padding: 2em 3em;
  }
}

@media (max-width: 600px) {
  header {
    padding: 1.5em 0;
  }

  .contact__container {
    padding: 1em 3em;
  }

  .projects-section {
    padding-top: 2em;
    padding-bottom: 1em;
  }
  main {
    padding: 0 1em;
  }
  .skills__iconContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 4em 0;
    flex-wrap: wrap;
  }

  .skills__iconContainer > div {
    text-align: center;
    margin-top: 3em;
    max-width: 10em;
    flex: 1 1 3em;
  }

  .skills-section {
    padding: 3em 0;
  }

  .banner {
    color: #f0ffff;
    margin-top: 3rem;
    padding: 2rem 2rem;
    background-color: #3a0ca3;
    box-shadow: 0.5rem 0.5rem #00ff7f !important;
    transform: translate(2px, -2px) !important;
    transition: box-shadow ease-in-out 0.3s !important;
  }

  .banner:hover {
    /* transform: translate(10px, 10px) !important; */
    box-shadow: none !important;
  }

  .banner__slogan {
    padding: 2rem 0;
  }

  .banner > div {
    margin-bottom: 1.5em;
  }

  .projects__2 {
    border: #3a0ca3 2px solid !important;
    background-color: #00ff7f;
    box-shadow: 0.4em 0.4em #000080 !important;
    transform: translate(2px, -2px) !important;
  }
}
